body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #ffffff;
}


/* Header and Footer Styles */

header {
	color: #000;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	backdrop-filter: blur(5px);
	font-size: 18px;
	width: 100%;
	margin: 0;
	z-index: 20;
}

footer {
	color: #fff;
	backdrop-filter: blur(5px);
	font-size: 18px;
	width: 100%;
	margin: 0;
	background-color: #404040;
	padding: 10px 10px;
}

footerlink {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	border-radius: 7px;
	padding: 2px 2px;
	opacity: 0.6;
	transition: 0.1s;
	padding-bottom: 3px;
}

footerlink:hover {
	background-color: #fff;
	opacity: 0.6;
	color: #404040;
}

/* Input Styles */

input[type=text],
select {

	width: 100%;
	padding: 8px 8px;
	background-color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	border: 2px solid #404040;
	border-radius: 7px;
	padding: 10px 20px;
	font-size: 16px;
	opacity: 0.6;
	transition: 0.1s;
}

input[type=submit] {

	background-color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	border: 2px solid #404040;
	border-radius: 7px;
	padding: 10px 20px;
	font-size: 16px;
	opacity: 0.6;
	transition: 0.1s;
	width: 100%;
}

input[type=submit]:hover {

	background-color: #404040;
}

/* Text Styles */

h2 {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	text-align: center;
}

p {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	text-align: center;
}

/* Button */

button {
	background-color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	border: 0px solid #404040;
	border-radius: 7px;
	padding: 10px 20px;
	font-size: 16px;
	opacity: 0.6;
	transition: 0.1s;
	color: #000;
	border: 2px solid #404040;
}

button:hover {
	border: 2px solid #404040;
	background-color: #404040;
	color: #fff;
}

/* Purchase Button */

purchase {
	background-color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	border: 2px solid #404040;
	border-radius: 7px;
	padding: 10px 20px;
	font-size: 16px;
	opacity: 0.6;
	transition: 0.1s;
	color: #000;
	text-decoration: none;
}

purchase:hover {
	background-color: #6fc276;
	color: #ffffff;
}

/* Header */

.header {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	background-color: #f1f1f1;
	padding: 30px;
	text-align: center;
}

#navbar {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	overflow: hidden;
	background-color: #33333300;
}

#navbar a {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	float: left;
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#navbar a:hover {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	background-color: #dddddd2c;
	color: black;
	border-radius: 7px;
}

#navbar a.active {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	background-color: #acacac9c;
	color: black;
	border-radius: 7px;
}

.content {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky+.content {
	padding-top: 60px;
}

/* Images */

img {
	border: 2px solid #404040;
	border-radius: 7px;
}
