        /* Header Styles */
 header {
        color: #000;
        position: -webkit-sticky; /* For Safari */
        position: sticky;
        top: 0;
        backdrop-filter: blur(7px);
        font-size: 18px;
        padding: 1px 1px;
     margin: 0;
        }
    /* Input Styles */
input[type=text], select {
    
width: 100%;
padding: 8px 8px;
background-color: #ffffff;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
border: 2px solid #0069f3;
border-radius: 7px;
padding: 10px 20px;
font-size: 16px;
opacity: 0.6;
transition: 0.1s;
}

input[type=submit] {
    
background-color: #ffffff;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
border: 2px solid #0069f3;
border-radius: 7px;
padding: 10px 20px;
font-size: 16px;
opacity: 0.6;
transition: 0.1s;
width: 100%;
}

input[type=submit]:hover {

background-color: #0069f3;
}

        /* Text Styles */

        body {
margin: 0;
            padding: 1px;
        }
        h2 {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .headertext {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
            border-radius: 7px;
            padding: 2px 2px;
            opacity: 0.6;
            transition: 0.1s;
        }

        .headertext:hover {
            background-color: #0069f3;
            opacity: 0.8;
        }

        p {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
        }

        button {
            background-color: #ffffff;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            border: 2px solid #0069f3;
            border-radius: 7px;
            padding: 10px 20px;
            font-size: 16px;
            opacity: 0.6;
            transition: 0.1s;
        }

        button:hover {
            background-color: #0069f3;
            color: #ffffff;
        }

        img {
            border: 2px solid #0069f3;
            border-radius: 7px;
        }
